<h1>{{title}}</h1>


<div class="example-label">Basic</div>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button href="https://www.google.com/" target="_blank">Link</a>
</div>


<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>



<mat-checkbox class="example-margin">Check me!</mat-checkbox>
<mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>

<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

